<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="my-8">
    <!--------------------------------Watches-------------------------------->
    <div class="container mx-auto px-6">
        <h3 class="text-gray-700 text-2xl font-medium">New Collection</h3>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover bg-center bg-center" style="background-image: url('https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
                    <a href="/clothesDetail">
                        <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                            <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        </button>
                    </a>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Tomato Hoodie</h3>
                    <span class="text-gray-500 mt-2">$123</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover bg-center bg-center" style="background-image: url('https://images.unsplash.com/flagged/photo-1570733117311-d990c3816c47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
                    <a href="clothesDetail.ejs">
                        <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                            <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        </button>
                    </a>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">White Office</h3>
                    <span class="text-gray-500 mt-2">$130</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover bg-center bg-center" style="background-image: url('https://images.unsplash.com/photo-1582533552406-234434284c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1127&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Silver Party</h3>
                    <span class="text-gray-500 mt-2">$125</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover bg-center bg-center" style="background-image: url('https://images.unsplash.com/photo-1609357601502-0dae733e68c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Forest Dream</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------Braclets-------------------------------->
    <div class="container mx-auto px-6 mt-16">
        <h3 class="text-gray-700 text-2xl font-medium">Braclets</h3>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1612437830721-4f8eab90c5a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$123</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1571859939884-50b51d4cbc90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Old watch</h3>
                    <span class="text-gray-500 mt-2">$95</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1610223515982-5bae48b7c2c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$125</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1621620211779-4e046d50103d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">fossil watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1639065643006-e217c4fee12e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">braun watch</h3>
                    <span class="text-gray-500 mt-2">$49</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1639411957049-f243eb5f83a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">rolex watch</h3>
                    <span class="text-gray-500 mt-2">$86</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1635515418016-a63de59727ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
                    <span class="text-gray-500 mt-2">$100</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1590448310326-04731dc2d18f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1123&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">breitling watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1612437830721-4f8eab90c5a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$123</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1571859939884-50b51d4cbc90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Old watch</h3>
                    <span class="text-gray-500 mt-2">$95</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1610223515982-5bae48b7c2c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$125</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1621620211779-4e046d50103d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">fossil watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1639065643006-e217c4fee12e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">braun watch</h3>
                    <span class="text-gray-500 mt-2">$49</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1639411957049-f243eb5f83a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">rolex watch</h3>
                    <span class="text-gray-500 mt-2">$86</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1635515418016-a63de59727ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
                    <span class="text-gray-500 mt-2">$100</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1590448310326-04731dc2d18f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1123&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">breitling watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------Earrings------------------------------------>
    <div class="container mx-auto px-6 mt-16">
        <h3 class="text-gray-700 text-2xl font-medium">Earrings</h3>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535556116002-6281ff3e9f36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1458&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$123</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1622654392582-c51338f80aaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Old watch</h3>
                    <span class="text-gray-500 mt-2">$95</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535556261192-f718879e7f2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1512&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$125</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1634390618228-2fe329fc7546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">fossil watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1602751584549-44d0f48236a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">braun watch</h3>
                    <span class="text-gray-500 mt-2">$49</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535632787350-4e68ef0ac584?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">rolex watch</h3>
                    <span class="text-gray-500 mt-2">$86</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1586108189272-bf6e03a30440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1599&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
                    <span class="text-gray-500 mt-2">$100</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1528121238716-306799520ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">breitling watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535556116002-6281ff3e9f36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1458&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$123</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1622654392582-c51338f80aaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Old watch</h3>
                    <span class="text-gray-500 mt-2">$95</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535556261192-f718879e7f2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1512&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">Classic watch</h3>
                    <span class="text-gray-500 mt-2">$125</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1634390618228-2fe329fc7546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">fossil watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1602751584549-44d0f48236a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">braun watch</h3>
                    <span class="text-gray-500 mt-2">$49</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1535632787350-4e68ef0ac584?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">rolex watch</h3>
                    <span class="text-gray-500 mt-2">$86</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1586108189272-bf6e03a30440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1599&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
                    <span class="text-gray-500 mt-2">$100</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1528121238716-306799520ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')">
                    <button class="p-2 rounded-full bg-orange-300 text-white mx-5 -mb-4 hover:bg-orange-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">breitling watch</h3>
                    <span class="text-gray-500 mt-2">$180</span>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>