<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <!------------------------------HERO---------------------------------->
    <section class="bg-orange-200 h-screen">
        <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
            <div class="flex flex-col items-start px-20 py-40 mb-16 text-left bg-white lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
                <h1 class="mb-1 text-2xl font-black tracking-tighter text-black md:text-5xl title-font"> Get up to 30% off </h1>
                <h1 class="mb-8 text-2xl font-black text-orange-400 tracking-tighter text-black md:text-5xl title-font"> New Arrivals </h1>
            </div>
            <div class="w-full lg:w-1/3 lg:max-w-lg md:w-1/2">
                <img class="object-cover object-center" alt="hero" src="https://images.unsplash.com/photo-1581044777550-4cfa60707c03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80">
            </div>
        </div>
    </section>


    <!------------------------------Highlights---------------------------------->
    <div class="flex justify-center items-center mt-16">
        <div class="2xl:mx-auto 2xl:container lg:px-20 lg:py-16 md:py-12 md:px-6 py-9 px-4 w-96 sm:w-auto">
            <div role="main" class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-semibold leading-9 text-center text-gray-800 dark:text-gray-50 uppercase">This Weeks Highlights</h1>
            </div>
            <div class="lg:flex items-stretch md:mt-12 mt-8">
                <div class="lg:w-1/2">
                    <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6">
                        <div class="sm:w-1/2 relative">
                            <div>
                                <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                    <h2 class="text-xl font-semibold 5 text-white">Exclusive Shoes</h2>
                                    <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                    <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1605408499391-6368c628ef42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="w-full" alt="chair" />
                        </div>
                        <div class="sm:w-1/2 sm:mt-0 mt-4 relative">
                            <div>
                                <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                    <h2 class="text-xl font-semibold 5 text-white">Exclusive Items</h2>
                                    <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                    <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80" class="w-full" alt="wall design" />
                        </div>
                    </div>
                    <div class="relative">
                        <div>
                            <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">New Arrivals</h2>
                                <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                            </div>
                        </div>
                        <img src="https://images.unsplash.com/photo-1603400521630-9f2de124b33b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="sitting place" class="w-full mt-8 md:mt-6 hidden sm:block" />
                        <img class="w-full mt-4 sm:hidden" src="https://i.ibb.co/6XYbN7f/Rectangle-29.png" alt="sitting place" />
                    </div>
                </div>
                <div class="lg:w-1/2 xl:ml-8 lg:ml-4 lg:mt-0 md:mt-6 mt-4 lg:flex flex-col justify-between">
                    <div class="relative">
                        <div>
                            <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">Exquisite Styles & Collections</h2>
                                <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                            </div>
                        </div>
                        <img src="https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="sitting place" class="w-full sm:block hidden" />
                        <img class="w-full sm:hidden" src="https://i.ibb.co/dpXStJk/Rectangle-29.png" alt="sitting place" />
                    </div>
                    <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6 md:mt-6 mt-4">
                        <div class="relative w-full">
                            <div>
                                <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                    <h2 class="text-xl font-semibold 5 text-white">Exquisite Earrings</h2>
                                    <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                    <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1616413552922-aa3906103397?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="w-full" alt="chair" />
                        </div>
                        <div class="relative w-full sm:mt-0 mt-4">
                            <div>
                                <div class="absolute bg-gray-400 opacity-75 bottom-0 left-0 p-6">
                                    <h2 class="text-xl font-semibold 5 text-white">Exclusive Pants</h2>
                                    <p class="text-base leading-4 text-white mt-2">PRICE 20% OFF</p>
                                    <p class="text-base leading-4 text-white mt-2">DISCOUNT CODE - VATR3920</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1602293589930-45aad59ba3ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="w-full" alt="wall design" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------Popular-------------------------------->
    <div class="mt-16">
        <div role="main" class="flex flex-col items-center justify-center">
            <h1 class="text-4xl font-semibold leading-9 text-center text-gray-800 dark:text-gray-50 uppercase">Popular this week</h1>
        </div>
        <div class="grid gap-6 grid-cols-1 px-20 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
            <div class="w-full max-w-sm mx-auto overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1600717535275-0b18ede2f7fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80');"></div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700">Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
                    <span class="text-gray-500 mt-2">$120</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1602266337967-96b69980e2a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80')">
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700">Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
                    <span class="text-gray-500 mt-2">$90</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1599447541321-50706296bb7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80')">
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700">Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
                    <span class="text-gray-500 mt-2">$140</span>
                </div>
            </div>
            <div class="w-full max-w-sm mx-auto overflow-hidden">
                <div class="flex items-end justify-end h-96 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1557002666-513ca8eaa3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80')">
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700">Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
                    <span class="text-gray-500 mt-2">$105</span>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------Categories---------------------------------->
    <div class="flex justify-center items-center">
        <div class="2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
            <div class="flex flex-col jusitfy-center items-center space-y-10">
                <div class="flex flex-col justify-center items-center ">
                    <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-gray-800 dark:text-white">Shop By Category</h1>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-4 md:gap-x-8 w-full">
                    <a href="/pages/Clothes/clothesMain.html">
                        <div class="relative group flex justify-center items-center h-full w-full">
                            <img class="object-center object-cover h-full w-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="girl-image" />
                            <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">Women</button>
                            <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                        </div>
                    </a>

                    <div class="flex flex-col space-y-4 md:space-y-8 mt-4 md:mt-0">
                        <a href="/pages/Shoes/shoesMain.html">
                            <div class="relative group flex justify-center items-center h-full w-full">
                                <img class="object-center object-cover h-full w-full" src="https://i.ibb.co/SXZvYHs/irene-kredenets-DDqx-X0-7v-KE-unsplash-1.png" alt="shoe-image" />
                                <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">Shoes</button>
                                <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                            </div>
                        </a>

                        <a href="/pages/Accessories/accessoriesMain.html">
                            <div class="relative group flex justify-center items-center h-full w-full">
                                <img class="object-center object-cover h-full w-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                                <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">Watches</button>
                                <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                            </div>
                        </a>
                    </div>

                    <a href="/pages/Accessories/accessoriesMain.html">
                        <div class="relative group justify-center items-center h-full w-full hidden lg:flex">
                            <img class="object-center object-cover h-full w-full" src="https://i.ibb.co/PTtRBLL/olive-tatiane-Im-Ez-F9-B91-Mk-unsplash-1.png" alt="girl-image" />
                            <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">Accessories</button>
                            <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-------------------------------End Collection--------------------------------->
    <div class="flex flex-col px-20">
        <div class="flex flex-col justify-center">
            <div class="relative">
                <img class="w-full" src="https://images.unsplash.com/flagged/photo-1553802922-e345434156e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" alt="" />
                <div class="absolute sm:bottom-8 bottom-4 pr-10 sm:pr-0 left-4 sm:left-8 flex justify-start items-start">
                    <p class="text-3xl sm:text-4xl font-semibold text-white uppercase">Summer <span class="text-orange-300">Collections</span></p>
                    <button type="button" class="text-orange-300 ml-8 bg-white font-medium text-sm px-6 py-2.5 text-center inline-flex items-center uppercase">Shop now<svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------Contacts-------------------------------------->
    <div id="contacts" class="max-w-6xl mx-auto sm:px-6 lg:px-8 mt-16">
        <div class="mt-8 overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="p-6 mr-2 bg-orange-300">
                    <h1 class="text-4xl sm:text-5xl text-white dark:text-white font-extrabold tracking-tight">
                        Get in touch
                    </h1>
                    <p class="text-normal text-lg sm:text-2xl font-medium text-white dark:text-gray-400 mt-2">
                        Fill in the form to start a conversation
                    </p>

                    <div class="flex items-center mt-8 text-white dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            DAMA Inc, Street, Region,
                            Postal Code
                        </div>
                    </div>

                    <div class="flex items-center mt-4 text-white dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            +44 1234567890
                        </div>
                    </div>

                    <div class="flex items-center mt-2 text-white dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            info@dama.org
                        </div>
                    </div>
                </div>

                <form class="p-6 flex flex-col justify-center">
                    <div class="flex flex-col">
                        <label for="name" class="hidden">Full Name</label>
                        <input type="name" name="name" id="name" placeholder="Full Name" class="w-100 mt-2 py-3 px-3  bg-white border border-orange-300 text-orange-400 font-semibold focus:border-orange-500 focus:outline-none">
                    </div>

                    <div class="flex flex-col mt-2">
                        <label for="email" class="hidden">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="w-100 mt-2 py-3 px-3  bg-white border border-orange-300 text-orange-400 font-semibold focus:border-orange-500 focus:outline-none">
                    </div>

                    <div class="flex flex-col mt-2">
                        <label for="tel" class="hidden">Number</label>
                        <input type="tel" name="tel" id="tel" placeholder="Telephone Number" class="w-100 mt-2 py-3 px-3  bg-white border border-orange-300 text-orange-400 font-semibold focus:border-orange-500 focus:outline-none">
                    </div>

                    <button type="submit" class="md:w-32 bg-orange-300 hover:bg-orange-500 text-white font-bold py-3 px-6  mt-3 hover:bg-oarnge-500">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>